<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673405683879-q4rk1l5mkn9ma7e7e4nern9sh5t990g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673405683879-q4rk1l5mkn9ma7e7e4nern9sh5t990g6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>673405683879-p9jl5cdji0eaoh7n26i8j3ckhakq4lgo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGnUdELerxS-kGxd3tiDBRLwIn49c0tGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>673405683879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.edu.digitech.schoolworkspro</string>
	<key>PROJECT_ID</key>
	<string>campus4</string>
	<key>STORAGE_BUCKET</key>
	<string>campus4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673405683879:ios:ea8c94f77bcdb2d1ecf382</string>
</dict>
</plist>